name: "Pull Request Build"
on:
  - pull_request
jobs:
  build:
    name: PR build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11 ]
        image: [ "ubi-quarkus-native-image:20.3.1-java11"]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Install JDK {{ matrix.java }}
        uses: joschi/setup-jdk@e87a7cec853d2dd7066adf837fe12bf0f3d45e52
        with:
          java-version: ${{ matrix.java }}
      - name: Build Quarkus master
        run: |
          git clone https://github.com/gsmet/quarkus.git && cd quarkus && git checkout java-serialization && mvn -B -s .github/mvn-settings.xml clean install -Dquickly
      - name: Test in JVM mode
        run: |
          mvn -V -B -s .github/mvn-settings.xml clean test
      - name: Smoke Test in Native mode
        run: |
          mvn -V -B -s .github/mvn-settings.xml -fae clean verify -Dnative \
            -Dquarkus.native.container-build=true -Dquarkus.native.native-image-xmx=4g \
            -Dquarkus.native.builder-image=quay.io/quarkus/${{ matrix.image }} \
            -pl '003-quarkus-many-extensions'
      - name: Zip Artifacts
        run: |
          zip -R artifacts-jvm${{ matrix.java }}.zip '*-reports/*'
      - name: Archive artifacts
        uses: actions/upload-artifact@v1
        with:
          name: ci-artifacts
          path: artifacts-jvm${{ matrix.java }}.zip
